/* reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: #676665;
  background-color: #0F0F0F;
}

h2 {
  font-size: 4.8rem;
  font-weight: 500;
  color: #ffffff;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffffff;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}

/* header */

header {
  height: 12.3rem;
  width: 192rem;
}

nav {
  height: 100%;
  width: 159.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px dashed #262626;
}

.nav-left,
.nav-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.logo {
  width: 15.606rem;
}

.nav-container a {
  cursor: pointer;
  border-radius: 1.2rem;
  padding: 1.8rem 3rem;
  color: #676665;
  font-size: 1.8rem;
}

.nav-container .home-button {
  background-color: #1A1A1A;
  color: #ffffff;
}

.nav-container .products-button {
  border: 1px dashed #262626;
  padding: 1.8rem 2.4rem;
  color: #676665;
}

.nav-container .cart-button {
  background-color: #1A1A1A;
  padding: 1.8rem;
  display: grid;
  place-items: center;
}

.nav-container .cart-button img {
  width: 2.4rem;
}

.nav-container .contact-button {
  background-color: #AE9B84;
  padding: 1.8rem 3rem;
  color: #0F0F0F;
}

/* main  */

main {
  width: 192rem;
}

main section {
  width: 159.6rem;
  margin: 0 auto;
}

/* hero  */

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 50% repeat(2, 1fr);
  grid-template-rows: 62.4rem repeat(2, 1fr);
  border: 1px dashed #262626;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 6rem;
}

.hero-image {
  grid-column: 1 / 4;
}

.hero-image img {
  width: 100%;
  object-fit: contain;
}

.shop-now-btn {
  position: absolute;
  bottom: 41.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed #262626;
  background-color: #1F1F1F;
  padding: 1.8rem 2.4rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.shop-now-btn img {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.4rem;
}

.hero-content {
  grid-row: 2 / 4;
  padding: 8rem;
}

.hero-btns {
  display: flex;
  gap: 1.6rem;
}

.hero-btn {
  font-family: 'Roboto Mono', monospace;
  color: #B3B3B2;
  border: 1px dashed #262626;
  padding: 1.4rem 2.4rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero-content h2 {
  margin: 3rem 0;
}

.hero-box {
  padding: 7rem 5rem;
}

.hero-box.box-1,
.hero-box.box-2 {
  border-bottom: 1px solid #262626;
}

.hero-box.box-1,
.hero-box.box-2,
.hero-box.box-3,
.hero-box.box-4 {
  border-left: 1px solid #262626;
}

/* footer */

footer {
  height: 75.2rem;
  width: 192rem;
}

footer>div {
  width: 159.6rem;
  margin: 0 auto;
  border-top: 1px dashed #262626;
}

/* socials  */

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34.6rem;
}

.socials .logo {
  width: 78.831rem;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.social-links a {
  background-color: #D6CDC2;
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 1.2rem;
  display: grid;
  place-items: center;
}

/* newsletter  */

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34.6rem;
}

.newsletter h3 {
  margin-bottom: 3rem;
}

.newsletter ul li:first-child {
  list-style: none;
}

.newsletter ul li:not(:first-child) {
  list-style: none;
  position: relative;
  padding-left: 2.2rem;
}

.newsletter ul li:not(:first-child)::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #262626;
  width: 0.6rem;
  height: 0.6rem;
}

.newsletter ul {
  display: flex;
  gap: 1.6rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: 400;
}

/* subscribe  */

.subscribe input {
  width: 47.867rem;
  height: 6.3rem;
  background-color: #1A1A1A;
  color: #676665;
  border: none;
  border-radius: 1.2rem;
  padding: 1.8rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.subscribe-input {
  position: relative;
}

.subscribe button {
  position: absolute;
  right: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.copyright {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.7rem;
}

.privacy-policy {
  border-left: 1px solid #262626;
  padding-left: 1rem;
  color: #676665;
}